body {
  background: url('https://raw.githubusercontent.com/Urigo/WhatsApp-Clone-Client-Angular/master/src/assets/chat-background.jpg')   ; 
 
}
.landing {
  height: 100vh;
}

.landing > span {
  text-align: center;
}
