form{
    width:90%;
   
    border: 1px solid #ccc;
    border-radius: 5px;
   
}

.modal {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999999;
    opacity: 1;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
    display: grid;
    align-items: center;
}

.modal_content {
    /* width: 30%;
    height: 200px;
    position: relative;
    margin: 10% auto;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center; */
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}





.modal_close {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #000000;
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 0;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
}

.modal_close:hover {
    background: #ffffff;
    color: #e53935
}