.chat {
  height: 90vh;
  margin: 10vh 0 10vh;
  display: flex;
  flex-direction: column;
}
chat::-webkit-scrollbar {
  width: 0.25rem;
}

chat::-webkit-scrollbar-track {
  background: #1e1e24;
}

chat::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.stage {
  grid-area: stage;
}

.chat {
  grid-area: chat;
}

.chat_room_desktop_main {
  /* width: 100%; */
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1.5fr 5fr 1.5fr;
  grid-template-areas: "stage chat audience";
}





.audience {
  grid-area: audience;
}

@media screen and (max-width: 414px) {
  .chat_room_desktop_main {
    display: none;
  }
}
