.chat{
  /* padding: 10px; */
  height: 90vh;
  margin: 10vh 0 10vh;
  /* overflow-y: scroll; */
  /* overflow-x:hidden; */
  display: flex;
  flex-direction: column;
}
chat::-webkit-scrollbar {
  width: 0.25rem;
}

chat::-webkit-scrollbar-track {
  background: #1e1e24;
}

chat::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.chat_room_desktop_main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "stage chat  audience";
}
.chat-form{
  width:70%;
  bottom:0.05%;
  
}

.stage {
  grid-area: stage;
}

.chat {
  grid-area: chat;
}

.audience {
  grid-area: audience;
}

@media screen and (max-width: 414px) {
  .chat_room_desktop_main {
    display: none;
  }
}
