.stage {
  grid-area: stage;
}

.chat {
  grid-area: chat;
}

.audience {
  grid-area: audience;
}

.chat_room_desktop_main {
  margin-top: 60px;
  display: grid;
  height: calc(100vh - 60px);
  grid-template-columns: 1.5fr 5fr 1.5fr;
  grid-template-areas: "stage chat audience";
}

.fix-height {
  height: calc(100vh - 150px);
}

.fix-container-height {
  height: calc(100vh - 60px);
}

.clip-scroll {
  padding-top: 2.5rem;
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

/* @media screen and (max-width: 414px) {
  .chat_room_desktop_main {
    display: none;
  }
} */
